.hero-section {
    display: flex;
    // min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding-top: 17vh;
    // align-items: center;

    h2 {
        font-size: 72px;
        font-weight: 800;
        margin-bottom: 25px;
    }

    .content {
        max-width: 700px;
        margin: 0 auto;
    }

    @media only screen and (max-width: 1400px) {
        padding-top: 100px;
    }

    @media only screen and (max-width: 786px) {
        h2 {
            font-size: 55px;
        }
    }
}
