.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #171717;
    display: flex;
    align-items: center;
    
    background: -moz-linear-gradient(left, rgba(31,19,57,1) 0%, rgba(95,45,107,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(31,19,57,1)), color-stop(100%, rgba(95,45,107,1)));
    background: -webkit-linear-gradient(left, rgba(31,19,57,1) 0%, rgba(95,45,107,1) 100%);
    background: -o-linear-gradient(left, rgba(31,19,57,1) 0%, rgba(95,45,107,1) 100%);
    background: -ms-linear-gradient(left, rgba(31,19,57,1) 0%, rgba(95,45,107,1) 100%);
    background: linear-gradient(to right, rgba(31,19,57,1) 0%, rgba(95,45,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1339', endColorstr='#5f2d6b', GradientType=1 );

    .animated-section{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .mesg-container, .container{
        position: relative;
        z-index: 1;
        text-align: center;                        
    }    
    
    .gretting{
        overflow: hidden;
        margin-bottom: 25px;

        span{
            line-height: 1;
            text-shadow: 3px 3px 6px rgba(150, 150, 150, 0.3);
            font-size: 100px;
            letter-spacing: 15px;
            color: #FFF;     
            font-weight: 900;
            animation-name: greetings ;
            animation-duration: 4s;
            display: block;
            animation: greetings 2.5s;
            animation-iteration-count: infinite;
        }
    }

    ul{
        animation-name: gretting;
        padding: 0;
        list-style: none;
        transition: all .4s ease;
        li{
            

        }
    }
    @include media-breakpoint-down(sm) {        
        padding-top: 40px;
        padding-bottom: 40px;

        ul{
            li{
                font-size: 60px;
            }
        }

        .gretting{
            
            span{
                font-size: 40px;
            }
        }

        
    }


}


.about-wraper{
    color: #FFF;
    padding-left: 250px;
    z-index: 2;
    .content{
        max-width: 685px;
        width: 680px;
    }

    @include media-breakpoint-down(lg) {
        .content{
            width: 70%;
        }
    }    
    
    @include media-breakpoint-down(md) {
        padding: 50px ;    
        .content{
            width: 100% ;    
        }
    }
    
    @include media-breakpoint-down(sm) {
        padding: 0 ;    
        .content{
            width: 100% ;    
        }        
    }
    
}
    