.coder618-btn{
    border: 0;
    padding: 7px 14px;
    border-radius: 6px;
    cursor: pointer;
    &:hover{
        outline: 0;
        box-shadow: none;
    }
}

.gradient-btn{
    background: rgba(31,19,57,1);
    background: -moz-linear-gradient(-45deg, rgba(31,19,57,1) 0%, rgba(95,45,107,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(31,19,57,1)), color-stop(100%, rgba(95,45,107,1)));
    background: -webkit-linear-gradient(-45deg, rgba(31,19,57,1) 0%, rgba(95,45,107,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(31,19,57,1) 0%, rgba(95,45,107,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(31,19,57,1) 0%, rgba(95,45,107,1) 100%);
    background: linear-gradient(135deg, rgba(31,19,57,1) 0%, rgba(95,45,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1339', endColorstr='#5f2d6b', GradientType=1 );
    transition: background-color 1s ease;
    color: #FFF;
    

    &:hover {
        color: #FFF;
        text-decoration: none;
        background: rgba(31,19,57,1);
        background: -moz-linear-gradient(45deg, rgba(31,19,57,1) 0%, rgba(54,7,66,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(31,19,57,1)), color-stop(100%, rgba(54,7,66,1)));
        background: -webkit-linear-gradient(45deg, rgba(31,19,57,1) 0%, rgba(54,7,66,1) 100%);
        background: -o-linear-gradient(45deg, rgba(31,19,57,1) 0%, rgba(54,7,66,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(31,19,57,1) 0%, rgba(54,7,66,1) 100%);
        background: linear-gradient(45deg, rgba(31,19,57,1) 0%, rgba(54,7,66,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1339', endColorstr='#360742', GradientType=1 );
    }
}

.banner-btn{
    border-radius: 5px;
    border: 2px solid #FFF;
    border-radius: 21px;
    border: 2px solid #bb0a0a;
    background-color: transparent;
    color: #bb0a0a;
    padding: 5px 18px;
    transition: border-color .2s ease;
    font-size: 20px;

    &:hover{
        color: #FFF;
        border-color: #FFF;   
    }

}


.btn-send-mesg{
    font-weight: 900;
    letter-spacing: 3px;

    color: #fff;
    width: 100%;
    background-color: #212121;
    border: 1px solid #c5c5c5;
    padding: 12px;
    border-radius: 0;
    &:hover{
        border-color: #00dd22;
    }
}

.main-btn{
    padding: 7px 14px;
}