.career {
	.container {
		// padding-left: 30px;
	}
	ul {
		margin-top: 60px;
		list-style: none;
		padding: 0 0 0 30px;
		li {
			padding: 0 0 30px 30px;
			padding-bottom: 30px;
			border-left: 2px solid $red;
			position: relative;

			&:first-child {
				&:after {
					content: " ";
					position: absolute;
					width: 12px;
					height: 12px;
					border-radius: 20px;
					top: 4px;
					left: -7px;
					background-color: red;
					animation: fading 1.1s linear;
					animation-iteration-count: infinite;
				}
			}

			&:last-child {
				border: 0;
			}
			.content {
				position: relative;
				top: -5px;
			}
			&:before {
				content: " ";
				position: absolute;
				width: 20px;
				height: 20px;
				border-radius: 20px;
				border: 2px solid $red;
				left: -11px;
				top: 0;
				background: #fff;
			}
		}

		@include media-breakpoint-down(sm) {
			margin-top: 30px;
		}
	}

	.name {
		font-weight: 600;
	}
	time {
		font-weight: 700;
		font-size: 14px;
		color: #a0a0a0;
	}
}
