.service-card{
    padding: 30px 23px 18px 95px;
    position: relative;
    display: block;

    .img-section{
        position: absolute;
    }
    .img-section{
        position: absolute;
        top: 30px;
        left:25px;
        width: 48px;
        height: 48px;
        background-image: url(../../dist/img/icons.png);
        background-size: 48px ;        
    }
    
    h3, p,
    .img-section{
        z-index: 1;
    }

    h3,
    p{
        position: relative;                                
        font-size: 16px;
        position: relative;
        letter-spacing: -.02em;
        margin-bottom: 20px;
    }

    &:after{
        content: '';
        display: block;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 1px 4px rgba(0,0,0,.15);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    } 

    &:hover{
        &:after{
            box-shadow: 0 4px 10px rgba(0,0,0,.15);
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
        }
    }

}