footer{
    background-color: #000;
    color : #FFF;
    text-align: center;
    padding: 50px 15px;

    .contact-mesg{
        max-width: 550px;
        margin: 0 auto 20px auto;
    }

    @include media-breakpoint-down(sm) {
        padding: 25px 15px;
     
    }
    .mesg-section{
        max-width: 555px;
        margin: 0 auto;
    }

    a{
        overflow: hidden;
        left: 0;
        color: #FFF;
        display: inline-block;
        position: relative;
        padding: 0 12px;
        border-radius: 3px;
        &:hover{
            text-decoration: none;
            color: #FFF;
            &:after{
                height: 2px;
            }
        }

        &:after{
            content: " ";
            transition: all .4s ease;
            animation: move-bg .2s ease 0 infinite;
            animation-name: move-bg;
            animation-duration: 1.5s;
            animation-delay: .5s;
            animation-iteration-count: infinite;
            position: absolute;
            bottom: 0;
            left: 0;           
            height: 100%;
            width: 100%;
            background: -moz-linear-gradient(left, rgba(30,87,153,0) 0%, #32ab0a  100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%,#32ab0a  100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(30,87,153,0) 0%,#32ab0a  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#fff4f4',GradientType=1 ); /* IE6-9 */
        }
    }
}




@keyframes move-bg {
    0% {        
        transform: translateX(-111%);
    }
    22% {   
        transform: translateX(-40%);                
    }
    30% {
        transform: translateX(-60%);               
    }
    50% {
        transform: translateX(0%);                
    }

    65%{
        transform: translateX(50%);                       
    }
    
    100%{
        transform: translateX(100%);                               
    }


}
  
  