img{
    max-width: 100%;
}  
.btn:focus{
    box-shadow: none;
}

.intro{
    padding-top: 60px;
}
  
footer:hover,  
section:hover,
.sub-section:hover, 
.section-content:hover {

    .section-title{
        padding-right: 0;
        &:after {
            background-color: #de3e3e;
            width: 100%;
            -webkit-box-shadow: -1px 3px 13px 0px rgba(204,88,88,0.6);
            -moz-box-shadow: -1px 3px 13px 0px rgba(204,88,88,0.6);
            box-shadow: -1px 3px 13px 0px rgba(204,88,88,0.6);
        }
    }   
    
    & > .sub-title:after{
        background-color: #de3e3e;
    }
}

  
.section-title, .sub-title{
    position: relative;
    padding-left: 0;
    margin-bottom: 0;
    line-height: 1;
    display: inline-block;
    padding-right: 20px;
    margin-bottom: 20px;
    transition: padding .2s ease-in-out;
  
    &::after{
      content: " ";    
      position: absolute;
      background-color: $inactive_color;
      width: 20px;
      height: 3px;
      border-radius: 2px;
      bottom: 0;
      right: 0;
      transition: width .4s ease-in-out;
    }

    @include media-breakpoint-down(sm) {
        font-size: 28px;
    }
}
.sub-title{
    font-size: 1.3rem;    
    padding-right: 0;
    padding-left: 25px;  
    line-height: 1.3;
    margin-bottom: 25px;  
    
    &::after{
      bottom: unset;
      right:  unset;
      left: 0;
      width: 15px;
      top: calc( 50% - 2px  );
      right: 0;
    }  
}

.sub-section{
    margin-bottom: 3rem;
    
    h4{
        font-size: 1.1rem;
        // margin-bottom: 0;
        
    }
    p{
        max-width: 800px;
        padding-left: 25px;
    }
    @include media-breakpoint-down(sm) {
        h4{
            margin-bottom: 0;
        }
    }
}


    
.items{
    margin: -15px;
    .item{
        width: 33.33%;
        padding: 15px;

    }
    @include media-breakpoint-down(md) {
        margin: -10px;
        .item{
            width: 50%;
            padding: 10px;
        }
    }

    @include media-breakpoint-down(sm) {
        margin: -10px;
        .item{
            padding: 10px;
            width: 100%;
        }    
    }
}