.services{

    .lead{
        max-width: 550px;
    }
    .items{
        margin-top: 50px;
        h3{
            color: #272a2f;
        }
        p{
            color: #898989;
        }
    } 
    

    


}
