
// Skills
.skills{
    background-color: rgba(240, 240, 240, 0.7);
    .container > p{
        line-height: 1.5;
        margin-bottom: 25px;
    }

}
.skill-each-item{
    margin-bottom: 1.5rem;
    @include media-breakpoint-down(sm) {
        margin-bottom: 0;
    }

}
section:not(.banner){
    padding-top: 60px;
    padding-bottom: 30px;
}

.skill-status{
    position: relative;
    .progressbar-text{
        position: absolute;
        top: -2px;
        right: 0;
        display: inline-block;
        color: $primary !important;
        font-weight: bold;
    }
}

.skill-list{
    list-style: none;
    padding: 0;
    li{
        display: block;
        padding: 10px 25px;
        background-color: #f1f1f1;
        margin-bottom: 1rem;
        transition: background-color .2s ease;
        &:hover{
            color: #FFF;
            background-color: $primary;
        }
    }
}

  