$black: #1b1b1c;
$primary: #fff;
$secondary: $black;
$mobile-bp: sm;

$container-max-widths: (
    sm: 700px,
    md: 700px,
    lg: 700px,
    xl: 700px,
);
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 1140px,
    lg: 1200px,
    xl: 1520px,
);

$seafoam-30: #a4e0d3;
$seafoam-40: #86d5c4;
$seafoam-50: #68cbb5;
$seafoam-60: #58ad9a;
$seafoam-70: #498e7f;
$seafoam-80: #397064;
$green-30: #94d17e;
$green-40: #71c153;
$green-50: #4db228;
$green-60: #419722;
$green-70: #367d1c;
$green-80: #2a6216;
$yellow-30: #f4d07f;
$yellow-40: #f1c154;
$yellow-50: #edb129;
$yellow-60: #c99623;
$yellow-70: #a67c1d;
$yellow-80: #826117;
$orange-30: #faaa7e;
$orange-40: #f88d53;
$orange-50: #f67128;
$orange-60: #d16022;
$orange-70: #ac4f1c;
$orange-80: #873e16;
$red-30: #db8a85;
$red-40: #cf635c;
$red-50: #c33c33;
$red-60: #a6332b;
$red-70: #892a24;
$red-80: #6b211c;
$magenta-30: #fa7ec3;
$magenta-40: #f853af;
$magenta-50: #f6289b;
$magenta-60: #d12284;
$magenta-70: #ac1c6d;
$magenta-80: #871655;
$gray-00: #fff;
$gray-10: #e9e9e9;
$gray-20: #d5d5d5;
$gray-30: #adadae;
$gray-40: #99999a;
$gray-50: #858586;
$gray-60: #727272;
$gray-70: #5e5e5e;
$gray-80: #3d3d3e;
$gray-90: #262628;
$gray-100: #1b1b1c;

// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 992px, xxl: 992px);

$font-family-base: "Nunito", sans-serif;
$headings-font-family: "Nunito", sans-serif;

// $inter: "Red Hat Display", sans-serif;
