$mobile-bp: sm;
.main-navigation {
	padding: 15px 0 0 0;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #fff;

	.navbar-brand {
		padding: 0;
		margin-right: 60px;
		font-weight: 700;
	}

	.container {
		display: flex;
		justify-content: space-between;
	}
	* {
		align-items: center;
	}

	.left-items {
		display: flex;
	}

	a {
		@include br-text(18, 30);
		padding: 20px 15px 20px 20px;
		display: block;
	}

	.cta {
		padding: 8px 20px;
		font-size: 16px;
	}
}
